
.green{
    background-color: #81B64C !important;
}

.lgray{
    background-color:#373634 ;
}

.dgray{
    background-color: #302E2B;
}

.black{
    background-color: #262522;
}

.offwhiteText{
    color:rgb(233, 224, 224)
}