/* display div on left and right*/
*{
    color:white !important;
}
.blog-writer-box{
    display: flex;
    width: 100%;
    height: 80vh;
    border-radius: 1em;
}
.left-side{
    width:100%;
    height: 100%;
    background-color:#302E2B;
}

.right-side{
    background-color:#302E2B;
    height: 100%;
    width:100%;
    border: 0px;
    overflow-y: scroll;
}

.markdown-box p{
    word-wrap: anywhere;
}

.markdown-box img{
    width: 80%;
    margin:auto;
}

.css-1v0ldv-MuiPaper-root-MuiCard-root{
    background-color: #302E2B !important;
}